<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" th:href="@{/css/Error.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/UpdatePassword.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>비밀번호 수정 Form</title>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register - SB Admin</title>

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">

<script th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function(){
       beforePw();
    };


    function beforePw(){
      document.getElementById('beforePassword').addEventListener('change',function(){
         let pw = [[${employee.beforePassword}]];
            let beforePassword = document.getElementById('beforePassword').value;
            console.log('입력 : '+beforePassword);
            console.log('기존 : '+pw);
        if(beforePassword!=pw){
             alert('기존 패스워드와 불일치 합니다.');
             document.getElementById('beforePassword').value = "";
            }
            else{
                     alert('확인되었습니다.');
            }
     });
    };


    function notEqualsPw(){
      document.getElementById('passwordCheck').addEventListener('change',function(){
       let password = document.getElementById('password').value;
       let password2 = document.getElementById('passwordCheck').value;
            console.log(password1);
            console.log(password2);
        if(password!=password2){
             alert('패스워드가 불일치 합니다. 다시 입력해주세요');
             document.getElementById('passwordCheck').value = "";
            }
            else{
                     alert('확인되었습니다.');
            }

     });
    };


    /*]]>*/
</script>

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">
                                <img th:src="@{/images/rapigen_logo.png}" width="200"/>          방문 예약 (비밀번호 수정)</h1></span>
                            </h3>
                                <span id = "welcomeMsg">
                                         <span th:text="|[${session.EMPLOYEE_NAME.toString()}] 님 환영합니다!|"></span>
                                </span>

                            </div>
                            <div class="card-body">
                                <form role="form" th:object="${employee}" method="post" >
                                    <div class="col-md-6">
                                        <div th:if="${#fields.hasGlobalErrors()}">
                                            <p class="field-error"  id="globalError" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
                                        </div>
                                    </div>
                                    <input type="hidden" th:field="*{id}">
                                    <h5> 직원 정보 </h5>
                                    <hr>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <label th:for="employee_name" id="employeeNameLabel">이름 :</label>
                                                <input type="text" th:field="*{employee_name}" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <label th:for="loginId" id="loginIdLabel">아이디 :</label>
                                                <input type="text" th:field="*{loginId}" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <label th:for="beforePassword" id="beforePasswordLabel">기존 비밀번호(확인용) :</label>
                                                <input type="password" th:field="*{beforePassword}" class="form-control"
                                                       th:class="${#fields.hasErrors('beforePassword')}? 'form-control fieldError' : 'form-control'">
                                                <p class="field-error" th:if="${#fields.hasErrors('beforePassword')}" th:errors="*{beforePassword}">Incorrect date</p>                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <label th:for="password" id="passwordLabel">비밀번호 :</label>
                                                <input type="password" th:field="*{password}" class="form-control"
                                                       th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
                                                <p class="field-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>                                                   </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <label th:for="passwordCheck" id="passwordCheckLabel">비밀번호(확인용) :</label>
                                                <input type="password" th:field="*{passwordCheck}" class="form-control"
                                                       th:class="${#fields.hasErrors('passwordCheck')}? 'form-control fieldError' : 'form-control'">
                                                <p class="field-error" th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Incorrect date</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-4 mb-0">
                                        <div class="d-grid"><button type="submit" class="btn btn-primary btn-block">제출</button></div>
                                    </div>
                                </form>
                                </div>

                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a th:href="@{/reservation/info/all}">HOME</a>
                                        <a href="#" th:onclick="logOut();"  id="logOut">LOGOUT</a></div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script type="text/javascript" th:src="@{/js/logOut.js}"></script>

</body>
</html>