#welcomeMsg{
  position: absolute;
    margin-left:1%;
    margin-top:-2%;
}


div.row.mb-3{
    margin-top:10px;
}
#employeeNameLabel{
  margin-left:28%;
}
hr{
  border:2px;
  margin-bottom:2%;
}
.d-grid{
  margin-top:1%;
  margin-bottom:1%;
}
#loginIdLabel{
    margin-left:24%;
}

#beforePasswordLabel{
   margin-left:3%;
}
#passwordLabel{
    margin-left:21%;
}
#passwordCheckLabel{
   margin-left:10%;
}

.row.mb-3{
  margin-left:12%;
  font-size:18px;
}
h5{
    margin-left:1%;
    padding-top:13px;
    padding-bottom:7px;
}

.field-error {
    color: #dc3545;
    margin-left:10px;
}


input.form-control{
    margin-left:54%;
    width:80%;
}