label input{
    height:20px;
}

#logOut{
    margin-top:1%;
    margin-left:10%;
}
label{
      position: absolute;
    padding-left:2.0%;
    padding-top:-1%;
    font-size:20px;
}
input.form-control{
    margin-left: 18%;
    width:80%;
}

#area1{
  margin-bottom:2%;
}
#area2{
marin-top:1%;
}


form{
  margin-top:10px;
}
#globalError{
    margin-left:5%;
}
#welcomeMsg{
  position: absolute;
    margin-left:1%;
    margin-top:-2%;
}
div.mt-4.mb-0{
  padding-top:1%;
  padding-bottom:1.5%;
}
#viewPage{
    margin-left:30%;
    margin-top:10%;
}
#btnArea{
  margin-left:40%;
}
#btnArea span{
  margin-left:2%;
}

#btnArea span button{
  margin-left:4%;
}

#reviseTxt{
  margin-left:2%;
}

div.row.mb-3{
    margin-top:10px;
}

#phoneNumberTxt{
    background-color:#fff171;
    border-radius:5px;
}



hr{
  padding-bottom:1px;
  margin-bottom:2%;
}
h4{
    margin-left:1%;
    padding-top:13px;
    padding-bottom:7px;
}
#date{
    display:inline;
}
#date select{
    font-size:13px;
    text-align:center;
    display:inline-block;
    width: 9.8%;
    height:45px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #a9b6c4;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.field-error {
    color: #dc3545;
    margin-left:10px;
}

#employeeNameLabel{
margin-left:46px;
}

#nameLabel{
margin-left:26px;
}
#phoneNumberLabel{
  margin-top:0.5%;
  margin-left:1%;
}
#companyLabel{
margin-left:45px;

}


input#company.form-control{
  width:1234px;
  margin-left:120px;
}


input#loginId.form-control,input#employee_name.form-control{
  color:#7c7c7c;
}

input#purpose.form-control{
  width:1234px;
  margin-left:120px;
}
#phone_number{
  padding-top:1.4%;
  padding-bottom:1.4%;
}
#withPersonLabel{
margin-left:5px;

}
#purposeLabel{
margin-left:5px;

}
#visitDateLabel{
margin-left:26px;

}
#visitDate2Label{
margin-left:30px;
}

#passwordCheckLabel{
  margin-left:-6%;
  font-size:19px;
}

#loginIdLabel{
  margin-left:4%;}

#passwordLabel{
   margin-left:1.2%;
}
#withPersonLabel{
     margin-left:4%;

}

#submitBtn{
  width:60px;
}
#employeeInfo{
    margin-left:10px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color :  #ced4da;
    text-decoration-thickness : 3px;
}
#date label{
    margin-top:-25px;
    margin-left:50px;
}


.col-md-6 button{
    margin-top:5px;
    height:50px;
}
