<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/All.css}"/>

<title>방문자 전체 조회</title>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register - SB Admin</title>

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

</head>
<body class="bg-primary">

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div id="layoutSidenav_content">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">
                                    <img th:src="@{/images/rapigen_logo.png}" width="200"/>
                                    <span>
                                       방문 예약 프로그램
                                    </span>

                                </h3>

                                </div>
                             <div id="AllContents">


                                <div class="card-body">
                                    <div class="card-body">
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                <span id="iconArea">
                                                <i class="fas fa-table me-1"> </i>
                                                방문객List
                                                </span>
                                            </div>

                                            <table id="datatablesSimple">
                                                <thead>
                                                <tr>
                                                    <th class = "reservation_id">no</th>
                                                    <th class = "name">방문자</th>
                                                    <th class = "employee_name">접견자</th>
                                                    <th class = "company">회 사</th>
                                                    <th class = "purpose">목 적</th>
                                                    <th class = "visit_Date1">방문일자(from)</th>
                                                    <th class = "visit_Date2">방문일자(to)</th>
                                                    <th class="phone_number">연락처</th>
                                                    <th class = "is_checked">방문여부</th>
                                                    <th class = "detailView"></th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>

                                            <span id="dataIsNull">
                                            <h2>접근할 수 없습니다.</h2>
                                            </span>
                                    </div>
                                </div>
                                </div>

                                <div class="card-footer text-center py-3">
                                    <span class="small"><a th:href="@{/reservation/info/all}">HOME</a></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Rapigen </div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script type="text/javascript" th:src="@{/js/logOut.js}"></script>

</body>
</html>